<!-- <h3>Contact List</h3>
<mat-list>
  <mat-list-item>
    <span matListItemTitle>Title</span>
    <span matListItemLine>Second line</span>
    <span matListItemLine>Third line</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Title</span>
    <span matListItemLine>Second line. This line will truncate.</span>
    <span>Third line</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Title</span>
    <span matListItemLine>Second line. This line will truncate.</span>
    Third line
  </mat-list-item>
</mat-list> -->
<mat-card>
    <mat-card-header>
        <h1>Contact List</h1>
    </mat-card-header>
    <mat-card-content>
        <mat-list *ngFor="let item of contacts">
            <mat-list-item>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" style="float:right">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="updateContact(item)">
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                    </button>
                    <button mat-menu-item (click)="deleteContact(item)">
                      <mat-icon>delete</mat-icon>
                      <span>Delete</span>
                    </button>
                  </mat-menu>
                <span matListItemTitle>{{ item.name }}</span>
                <span matListItemLine>{{ item.mobileno }}</span>
                <span matListItemLine>{{ item.email }}</span>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-card-content>
</mat-card>