<br>
<!-- <div style="float: left; width: 25%">
    <mat-card class="contactCard">
        <mat-card-header>
            <h1>
                Contact List
            </h1>
        </mat-card-header>
        <mat-card-content>
           
        </mat-card-content>
    </mat-card>
</div> -->
<div>
    <mat-card class="chatCard">
        <mat-card-header>
            <h1>Chats</h1>
        </mat-card-header>
        <mat-card-content>
            <div id="history">
                <div *ngFor="let chat of chats" class="mb">
                    <mat-card class="chatBubbleContainer">
                        <mat-card-subtitle>
                            <span class="chatBubble">{{chat.username}}</span><br>
                            <span class="chatDate">{{chat.timestamp | date:'medium'}}</span>
                        </mat-card-subtitle>
                        <mat-card-content>
                            <p>{{chat.message}}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-card-content>
    </mat-card><br>
    <div>
        <mat-card class="messageCard">
            <mat-card-content>
                <form id="message" [formGroup]="form" (ngSubmit)="onChatSubmit(form.value)">

                    <ng-container *ngIf="firebaseService.currentUser$ | async as user;"> 
                        <mat-form-field appearance="outline" class="fw">
                            <mat-label>Username</mat-label>
                            <input matInput formControlName="username" autocomplete="off">
                        </mat-form-field>
                    </ng-container><br>


                    <mat-form-field appearance="outline" class="fw">
                        <mat-label>Enter Chat</mat-label>
                        <input matInput formControlName="message" autocomplete="off">
                        <button type="submit" matSuffix mat-icon-button aria-label="Submit">
                            <mat-icon>send</mat-icon>
                        </button>
                    </mat-form-field>
                </form>
                <!-- <mat-form-field class="example-form" style="margin-right: 20px; margin-left: 10px;">
                    <mat-label>Type new message</mat-label>
                    <input matInput />
                </mat-form-field>
                <button mat-fab color="primary" aria-label="send button">
                    <mat-icon>send</mat-icon>
                </button> -->
            </mat-card-content>
        </mat-card>
    </div>
</div>
<!-- <form id="message" [formGroup]="form" (ngSubmit)="onChatSubmit(form.value)">
    <mat-form-field appearance="outline" class="fw">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
    </mat-form-field>
    <mat-form-field appearance="outline" class="fw">
        <mat-label>Enter Chat</mat-label>
        <input matInput formControlName="message">
        <button type="submit" matSuffix mat-icon-button aria-label="Submit">
            <mat-icon>send</mat-icon>
        </button>
    </mat-form-field>
</form> -->