.example-name {
  width: 100%;
}
.form {
  margin-top: 10%;
  margin: auto;
  height: auto;
  padding: 30px;
  border-radius: 5%;
  box-shadow: 0 0 0 white;
  justify-content: center;
  margin: 15px 45px;
  display: flex;
}
.parent {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTC8RiZdhjZNFPBkQTJvPd7sQd1KqUA6dE1A&usqp=CAU');
  display: flex;
  padding: 20px;
  justify-content: center;
  background-size: 100% 100%;
}

mdc-card-header img {
  width: 100px;
}

img {
}

mat-card-header.mat-mdc-card-header img {
  width: 100px;
}

.left {
  width: 50%;
}

.right {
  /* height: 100%; */
  display: flex;
  padding: 26px 0px;
}

.right-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-card.mat-mdc-card.mdc-card {
  justify-content: center;
}

mat-card-subtitle.subtitle.mat-mdc-card-subtitle {
  padding: 10px;
}
