<!-- <div class="container">
    <div class="chatList mat-elevation-z5">
        <div class="search-input">
            <mat-form-field appearance="outline">
                <mat-label>Search for users</mat-label>
                <input matInput placeholder="Search for users" [matAutocomplete]="user" [formControl]="searchControl" />
            </mat-form-field>
            <mat-autocomplete #user>
                <mat-option *ngFor="let user of users" (click)="createChat(user)" >
                    {{user.displayName}}
                </mat-option>
            </mat-autocomplete>
        </div>
    </div>
    <div class="messages mat-elevation-z5"></div>
</div> -->

    <iframe src="https://deadsimplechat.com/sWUN1oPyC" width="100%" height="94%"></iframe>