/* .example-full-width {
    width: 92.5%;
  }
  .example-name {
    width: 45%;
  }
.form
{
    margin: auto;
    height: auto;
    width: 40%;
    padding: 30px;
    border-radius: 5%;
    box-shadow: 3px 3px 3px 3px #ccc;
} */
.example-full-width {
  width: 100%;
}
.example-name {
  width: 40%;
}
.form {
  margin: 0 59px;
  height: auto;
  padding: 30px;
  box-shadow: 0 0 0 white;
}
.parent {
  background-image: url("https://img.freepik.com/free-vector/minimalist-blue-brush-strokes-background_91008-263.jpg");
  display: flex;
  padding: 20px;
  justify-content: center;
  background-size: 100% 100%;
}

mdc-card-header img {
  width: 100px;
}

img {
}

mat-card-header.mat-mdc-card-header img {
  width: 100px;
}

.left {
  width: 50%;
}

.right {
  /* height: 100%; */
  display: flex;
  padding: 26px 0px;
}

.right-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-card.mat-mdc-card.mdc-card {
  justify-content: center;
}

mat-card-subtitle.subtitle.mat-mdc-card-subtitle {
  padding: 10px;
}
